{% extends "base.html.twig" %}
{% block body %}
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                     {% for nbVeterinaire in nombreVeterinaire%}
                  <div class="card-icon">
                    <i class="material-icons">group</i>
                  </div>
                  <p class="card-category">Vétérinaire</p>
                  <h3 class="card-title">{{nbVeterinaire.nbV}}
                 
                  </h3>
                  {% endfor %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                   {% for nbFamille in nombreFamille%}
                  <p class="card-category">Famille d'accueil</p>
                  <h3 class="card-title">{{nbFamille.nbF}}</h3>
                  {% endfor %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">local_shipping</i>
                  </div>
                     {% for nbTransporteur in nombreTransporteur%}
                  <p class="card-category">Transporteur</p>
                  <h3 class="card-title">{{nbTransporteur.nbT}}</h3>
                     {% endfor %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                       <i class="material-icons">pets</i>
                   </div>
                  <p class="card-category">Animaux</p>
                  {% for nbAnimaux in nombreAnimaux%}
                  <h3 class="card-title">{{nbAnimaux.nbA}}</h3>
                  {% endfor %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          
         
            
{% endblock %}
